<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635611642222-s1q8qcuh56dssmahsug02ksp231fg4vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635611642222-s1q8qcuh56dssmahsug02ksp231fg4vj</string>
	<key>API_KEY</key>
	<string>AIzaSyA97sU1d2Kdx4faoErpfybakwAILQyKlTc</string>
	<key>GCM_SENDER_ID</key>
	<string>635611642222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocPattern</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-storage</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-storage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635611642222:ios:a4f04fd7bf9d4289d9697f</string>
</dict>
</plist>